<div class="task">
<%= content_tag(:h2) do
  @this_task[:title]
  end %>

  <%= content_tag(:p) do
    @this_task[:description]
    end %>

  <table>
      <tr>
        <td>
          <%= show_status(@this_task) %>
        </td>
        <td>
          <%= edit_task(@this_task) %>
        </td>
        <td>
          <%= destroy_task(@this_task) %>
        </td>
      </tr>
  </table>
</div>

<%= link_to "Go back to list of tasks", root_path %>

<!-- The show view should include the complete information about the task: name, description, completion status, and completion date. -->
